@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', Courier, monospace;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
}

.header, .footer{
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    flex: auto;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 50px;
    margin-bottom: 30px;
}

.links {
    display: flex;
    gap: 16px;
}

.text .links {
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
    display: flex;
    justify-content: space-between;
    padding: 16px 50px;
    margin-bottom: 30px;
}

.main .header-logo {
    color: #f9faf8;
}

.main {
    font-size: 48px;
    font-weight: bolder;
}

.header-button {
    border-color: #3882f6;
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
    font-size: 9px;
}

.header-image {
    width: 500px;
    height: 300px;
    margin-left: 20px;
}

.information {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.image {
    border: 5px solid #3882f6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.image-text{
    max-width: 200px;
    text-align: center;
}


.quote{
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1F2937;
    padding: 25px 500px;
}

.quote-text {
    text-align: left;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.footer {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    min-height: 35px;
}